<h1 class="title text-center mt-5 mb-3 important">What this website is all about</h1>

<p>This is a website for those who appreciate art to share the pieces they love. <strong>Any</strong> images that classify as art can be published here and shared with other users.
 This includes but is not limited to photography, paintaings, sculptures, etc. Be sure to include a title for the art piece, the author and any thoughts you want to add regarding the art  </p>

<h1 class="title text-center mt-5 mb-3 important">How to use this website</h1>

<p>To view content on the website simply go to the posts page in the header to view what others have posted. Scrolling through the posts page will only show you a condensed version of the post.
To view what the user has to say about the post and show a bigger version of the image, press the show button. You will only be able to see posts from users who haven't listed their 
posts privately. To create and manage your own posts, you must make an account and sign in to it. This enables you to create, edit, and delete your posts. Your posts will be highlighted blue in the posts page for clarity</p>

<h1 class="title text-center mt-5 mb-3 important">User System</h1>

<p>The login system allows you to sign up, log in, and cancel your account. If you forget your password, an email will be sent to help you. You can also edit your account after creating it if you wish to do so.</p>

<div class="text-center mt-5">
    <%= link_to 'Posts Page', posts_path, class: "btn btn-primary mb-3" %>
</div>